<h2>Ruby Immersive Schedule</h2>

<h3>Ruby Immersive Hour Breakdown</h3>
<!-- <h4>Ruby fundamentals: 15 hours</h4>
<ul>
  <li>Eloquent Ruby: 7 hours (1 hour per chapter)</li>
  <li>POODiR: 6 hours (1 hour per chapter)</li>
  <li>Additional assignments: 2 hours</li>
</ul>

<h4>Git fundamentals: 3 hours</h4>
<ul>
  <li>Git Immersion: 2 hours</li>
  <li>TryGit.com: 1 hour</li>
</ul>

<h4>Tool installation/setup: 3 hours</h4>
  <ul>
    <li>Ruby, Rails, Git, Github, Heroku, basic gems</li>
  </ul>

<h4>Rails fundamentals (our tutorial & assignment): 9 hours</h4>

<h4>Total study time: 30 hours</h4>

<h3>Schedule</h3>
<p>Assuming a 16 day work period, Saturday - Sunday (two weeks, three weekends). Due dates are all strong suggestions, except final one: all work is due on the last Sunday at midnight. Early submissions will recieve more thorough code reviews and feedback.</p>

<h4>Due day 1, Sunday: 4 hours</h4>
  <ul>
    <li>make contact (email? add themselves to roster?): get email and Github handle to instructors</li>
    <li>work through tool installation guide for ruby, git, github</li>
    <li>1 hour of Git Immersion</li>
    <li>Read chapter 1 of Eloquent Ruby</li>
    <li>Eloquent Ruby Assignment 1</li>
  </ul>

<h4>Due day 5, Wednesday: 6 hours</h4>
  <ul>
    <li>1 hour of Git Immersion</li>
    <li>1 hour of TryGit</li>
    <li>Read chapters 2, 3, 4 of Eloquent Ruby
    <li>Eloquent Ruby assignments 2, 3, 4</li>
  </ul>

<h4>Due day 9, Sunday: 7 hours</h4>
  <ul>
    <li>2 hours of Rails tutorial, including:</li>
    <ul>
      <li>installation for rails, heroku</li>
      <li>getting repo up on Github, pushing Rails app to it</li>
    </ul>
    <li>Read Eloquent Ruby chapters 6, 7</li>
    <li>Eloquent Ruby assignments 6, 7</li>
    <li>Read POODir chapters 1,2</li>
    <li>POODir assignments 1,2</li>
  </ul>

<h4>Due day 11, Wednesday: 6 hours</h4>
  <ul>
    <li>3 hours of Rails tutorial, including the rest of the guided portion</li>
    <li>Read POODir chapters 3, 4, 5</li>
    <li>POODir assignments 3, 4, 5</li>
  </ul>

<h4>Due day 15, Sunday: 7 hours</h4>
  <ul>
    <li>Eloquent Ruby chapter 9</li>
    <li>2 hour testing assignment</li>
    <li>Independent portion of Rails tutorial</li>
 -->